NWebsec/ConfigurationSchema/NWebSecConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="nwebsecconfigschema" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://nwebsec.com/NWebSecConfig.xsd" targetNamespace="http://nwebsec.com/NWebSecConfig.xsd" >
  <xs:simpleType name="simple_boolean">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="false" />
      <xs:enumeration value="true" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="XFrameOptionsEnumType">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="Deny"/>
      <xs:enumeration value="SameOrigin"/>
      <xs:enumeration value="Disabled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="XXssProtection">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="FilterEnabled"/>
      <xs:enumeration value="FilterDisabled"/>
      <xs:enumeration value="Disabled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="nwebsec">
    <xs:complexType>
      <xs:all>
        <xs:element name="httpHeaderSecurityModule" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="setNoCacheHttpHeaders" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="enabled" type="simple_boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="suppressVersionHttpHeaders" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="enabled" type="simple_boolean" use="required"/>
                  <xs:attribute name="serverHeader" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="securityHttpHeaders" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="x-Frame-Options" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="policy" type="XFrameOptionsEnumType" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="strict-Transport-Security" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="max-age" type="xs:string" use="required" />
                        <xs:attribute name="includeSubdomains" type="simple_boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="x-Content-Type-Options" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="enabled" type="simple_boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="x-Download-Options" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="enabled" type="simple_boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="x-XSS-Protection" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="policy" type="XXssProtection" use="required" />
                        <xs:attribute name="blockMode" type="simple_boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="content-Security-Policy" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:group ref="cspElements" minOccurs="0" maxOccurs="1"/>
                        <xs:attribute name="enabled" type="simple_boolean" use="optional" />
                        <xs:attribute name="x-Content-Security-Policy-Header" type="simple_boolean" use="optional" />
                        <xs:attribute name="x-WebKit-CSP-Header" type="simple_boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="content-Security-Policy-Report-Only" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:group ref="cspElements" minOccurs="0" maxOccurs="1"/>
                        <xs:attribute name="enabled" type="simple_boolean" use="optional" />
                        <xs:attribute name="x-Content-Security-Policy-Header" type="simple_boolean" use="optional" />
                        <xs:attribute name="x-WebKit-CSP-Header" type="simple_boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:group name="cspElements">
    <xs:all>
      <xs:element name="default-src" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="remove">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attributeGroup ref="BaseCspAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="script-src" minOccurs="0">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="remove">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attribute name="unsafeInline" type="simple_boolean" use="optional" />
          <xs:attribute name="unsafeEval" type="simple_boolean" use="optional" />
          <xs:attributeGroup ref="BaseCspAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="style-src" minOccurs="0">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="remove">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attribute name="unsafeInline" type="simple_boolean" use="optional" />
          <xs:attributeGroup ref="BaseCspAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="object-src" minOccurs="0">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="remove">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attributeGroup ref="BaseCspAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="img-src" minOccurs="0">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="remove">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attributeGroup ref="BaseCspAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="media-src" minOccurs="0">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="remove">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attributeGroup ref="BaseCspAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="frame-src" minOccurs="0">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="remove">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attributeGroup ref="BaseCspAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="font-src" minOccurs="0">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="remove">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attributeGroup ref="BaseCspAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="connect-src" minOccurs="0">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="remove">
              <xs:complexType>
                <xs:attribute name="source" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attributeGroup ref="BaseCspAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="report-uri" minOccurs="0">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="add">
              <xs:complexType>
                <xs:attribute name="report-uri" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="remove">
              <xs:complexType>
                <xs:attribute name="report-uri" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="clear"/>
          </xs:choice>
          <xs:attribute name="enableBuiltinHandler" type="simple_boolean" use="optional" />
          <xs:attribute name="enabled" type="simple_boolean" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:group>
  <xs:attributeGroup name="BaseCspAttributes">
    <xs:attribute name="self" type="simple_boolean" use="optional" />
    <xs:attribute name="none" type="simple_boolean" use="optional" />
    <xs:attribute name="enabled" type="simple_boolean" use="optional" />
  </xs:attributeGroup>
</xs:schema>